<header id="header" class="header">
    <div class="container" >
        <div  >
            <div class="four columns" >
                <img src="assets/img/logo01.jpg" width="201" height="50" id="logo">
            </div>
            <div *ngIf="userRole === 'Cliente'" id="pedidos-carrito" class="two columns u-pull-right" >
                <ul>
                    <li class="submenu">
                            <img src="assets/img/cart.png" width="35" height="35" id="img-carrito">
                            <div id="carrito">
                                    
                                    <table id="lista-carrito" class="u-full-width">
                                        <thead>
                                            <tr>
                                                <th>Imagen</th>
                                                <th>Nombre</th>
                                                <th>Precio</th>
                                                <th>Cantidad</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>

                                    <!-- <input type="text" id="address-input" placeholder="Ingrese su dirección" style="width: 100%; margin-top: 10px;"> -->
                                    <a href="/menu" id="vaciar-carrito" class="button u-full-width">Vaciar Carrito</a>
                                    <a href="/menu" id="confirmar-pedido" class="button u-full-width">Confirmar Pedido</a>
                            </div>
                    </li>
                </ul>
            </div>
            <div class="iniciarSesion">
                <button (click)="onCerrarSesionClick()">Cerrar Sesión</button>
            </div>
        </div> 
    </div>
</header>


<div id="hero">
</div>

<div  class="container">
    <h1 id="encabezado" class="encabezado">Pedidos en Línea</h1>

    <button *ngIf="userRole === 'Cliente'" (click)="toggleVista()">
        {{ mostrarHistorialPedidos ? 'Mostrar Menú' : 'Mostrar Historial de Pedidos' }}
      </button>

    <table *ngIf="mostrarHistorialPedidos" class="table table-responsive table-striped">
        <thead>
          <tr>
            <th>ID Orden</th>
            <th>Total</th>
            <th>Fecha</th>
            <th>Dirección</th>
          </tr>
        </thead>
        <tbody>
          <tr> <!-- *ngFor="let order of orderHistory" -->
            <td> order.id_orden </td>
            <td> order.total </td>
            <td> order.fecha </td>
            <td> order.direccion </td>
            <td> <a href="">Detalles</a> </td>
          </tr>
        </tbody>
      </table>

    <div class="row">
        <div *ngIf="userRole === 'Administrador'" id="agregar-productos" class="four columns">
                <div class="card">
                    <form #miFormulario="ngForm" class="container" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
                        <h4>Ingresar imagen:</h4>
                        <input class="form-control" type="file" style="margin-top: 20px; margin-bottom: -10px;" id="imagenProducto" name="imagenProducto" required="true" (change)="fileSeleccionada($event)" required/>
                        <div class="info-card">
                            <h4>Ingresar nombre:</h4>
                            <input type="text" name="nombreProducto" id="nombreProducto" required="true" [(ngModel)]="producto.nombreProducto">
                            
                            <h4>Introducir precio:</h4>
                            <input type="number" name="precio" id="precio " step="1000" required="true" [(ngModel)]="producto.precioProducto">
                            <button type="submit" class="u-full-width button-primary button">Añadir Producto</button>
                            
                        </div>
                    </form>
                </div>
        </div>

        <div *ngIf="!mostrarHistorialPedidos" id="lista-combos" class="container" style="margin-top: 30px;">
            <div class="row">
                <ng-container *ngFor="let producto of productos">
                    <div class="four columns">
                        <div class="card">
                            <div>
                                <img [src]="producto.urlImagen" class="imagen-combo u-full-width">
                            </div>
                            <div class="info-card">
                                <h4>{{producto.nombreProducto}}</h4><br>
                                <p  class="u-pull-right ">{{producto.precioProducto}}</p>
                                <a *ngIf="userRole === 'Cliente'" href="/menu" class="u-full-width button-primary button input agregar-carrito" data-id="{{producto.idProducto}}">Agregar Al Carrito</a>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
                      
        </div>

</div>  

<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
                <div class="four columns">
                        <nav id="principal" class="menu">
                            <a class="enlace" href="#">Para tu Negocio</a>
                            <a class="enlace" href="#">Conviertete en Instructor</a>
                            <a class="enlace" href="#">Aplicaciones Móviles</a>
                            <a class="enlace" href="#">Soporte</a>
                            <a class="enlace" href="#">Temas</a>
                        </nav>
                </div>
                <div class="four columns">
                        <nav id="secundaria" class="menu">
                            <a class="enlace" href="#">¿Quienes Somos?</a>
                            <a class="enlace" href="#">Empleo</a>
                            <a class="enlace" href="#">Blog</a>
                        </nav>
                </div>
        </div>
    </div>
    
  </footer>